*{
    font-family: sans-serif;
    margin:0;
    padding:0;
}
p{
    color:red;
}
.color-blue{
    color: #1751f3;
}
.main-content h2{
    color:purple;
}
.main-content h2.heading{
    font-family: fantasy;
}
.second-content p{
    color:pink;
}
.main-content .p-main{
    font-size:40px;
}